DB_HOST=tu_host_aqui.mysql.railway.app
DB_USER=root
DB_PASS=tu_password_aqui
DB_NAME=railway
DB_PORT=3306
PORT=3001
NODE_ENV=development
JWT_SECRET=tu_clave_secreta_jwt_para_firmar_tokens
ALLOWED_ORIGINS=http://localhost:5173,https://tu-dominio-inventario.com
